body{
    width: 100%;
    font-family: 'Lato',sans-serif;
    font-size: 16px;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
}

h1{
  font-size: 3.5rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

#proj-title{
  margin-bottom: 2rem;
}

@media screen and (max-width: 400px) {
  h1{
    font-size: 2.5rem;
  }
}
