html{
    background-color: #F0F0F0;
}

img{
    width: 100%;
    height: auto;
}

.content{
    animation: fadein 1s ease-out;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*About Page*/
.about{
    margin-top: 7rem;
    /* background-color: #00000020; */
    padding-left: 4rem;
    padding-right: 4rem;
}

.abt-flex{
    display:flex;
    justify-content: space-between;
}

.abt-img{
    width: calc(40% - 1.5rem);
}

.abt-text{
  width: calc(60% - 1.5rem);
}

.abt-para{
  margin-bottom: 2rem;
}

.contact-icon{
  width: 3rem;
  margin-right: 1rem;
}

/*Home Page*/
.item{
  display: flex;
  flex-direction: column;
}

.item a{
  display: flex;
  padding: 2rem 2rem 2rem 2rem;
  text-decoration: none;
  color: #000000;
  border-bottom: 3px solid #DDDDDD;
  background-color: #F0F0F0;
  transition: background-color 0.5s ease-in-out;
}

.item a:hover{
  background-color: #CCCCCC;
}

.item img{
  width: calc(40% - 1.5rem);
}

.item-desc{
  margin-left: 2rem;
}

/*Project Page*/
.proj{
  display: flex;
  flex-direction: column;
  padding: 0 4rem 0 4rem;
  margin-bottom: 2rem;
}

.proj-link{
  width: 3rem;
}

.disclaimer{
  display: inline;
}

#proj-header {
  position: absolute;
  width: calc(100% - 15rem);
  float: none;
  z-index: -1;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.kmsrt{
  padding-bottom: 1rem;
}

@media screen and (max-width: 800px) {
  #proj-header{
    width: 100%;
    padding-bottom: 2rem;
  }
  .item a{
    flex-direction: column;
  }
  .item img{
    width: 100%;
  }
}
