html{
    background-color: #F0F0F0;
}

img{
    width: 100%;
    height: auto;
}

.content{
    animation: fadein 1s ease-out;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*About Page*/
.about{
    margin-top: 7rem;
    /* background-color: #00000020; */
    padding-left: 4rem;
    padding-right: 4rem;
}

.abt-flex{
    display:flex;
    justify-content: space-between;
}

.abt-img{
    width: calc(40% - 1.5rem);
}

.abt-text{
  width: calc(60% - 1.5rem);
}

.abt-para{
  margin-bottom: 2rem;
}

.contact-icon{
  width: 3rem;
  margin-right: 1rem;
}

/*Home Page*/
.item{
  display: flex;
  flex-direction: column;
}

.item a{
  display: flex;
  padding: 2rem 2rem 2rem 2rem;
  text-decoration: none;
  color: #000000;
  border-bottom: 3px solid #DDDDDD;
  background-color: #F0F0F0;
  transition: background-color 0.5s ease-in-out;
}

.item a:hover{
  background-color: #CCCCCC;
}

.item img{
  width: calc(40% - 1.5rem);
}

.item-desc{
  margin-left: 2rem;
}

/*Project Page*/
.proj{
  display: flex;
  flex-direction: column;
  padding: 0 4rem 0 4rem;
  margin-bottom: 2rem;
}

.disclaimer{
  display: inline;
}

#proj-header {
  position: absolute;
  width: calc(100% - 15rem);
  float: none;
  z-index: -1;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.kmsrt{
  padding-bottom: 1rem;
}

.proj-img{
  width: 60%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.proj-vid{
  position: relative;
  overflow: hidden;
  width: 50%;
}

.proj-vid iframe{
  width: 100%;
  height: 100%;
  min-height: 315px;
}

.proj-process{
  display: flex;
}

.proj-process-item{
  flex-direction: column;
  width: 50%;
  margin-right: 2rem;
}

.proj-60{
  width: 60%;
}

.proj-40{
  width: 40%;
}

.proj-img figcaption{
  padding-left: 0.5rem;
  border-left: 3px solid #DDDDDD;
}

.proj-img-smaller{
  width: 80%;
}

@media screen and (max-width: 900px) { /*site changes at 900px*/
  #proj-header{
    width: 100%;
    padding-bottom: 2rem;
    -webkit-mask-image:-webkit-gradient(linear, left top, left 80%, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  }
  /*About Page*/
  .about{
    margin-top: 0;
  }
  .abt-flex{
    flex-direction: column;
  }
  .abt-img{
      width: 100%;
      margin-bottom: 1rem;
  }
  .abt-text{
    width: 100%;
  }
  .item a{
    flex-direction: column;
  }
  .item-desc{
    margin-left: 0;
  }
  .item img{
    width: 100%;
  }
  .proj-process{
    flex-direction: column;
    width: 100%
  }
  .proj-process-item{
    width: 100%;
    margin-bottom: 1rem;
  }
  .proj-img-smaller{
    width: 100%;
  }
  .proj-img{
    width: 100%;
  }
  .proj-vid{
    width: 100%;
  }
  .proj-60{
    width: 80%;
    align-self: center;
  }
  .proj-40{
    width: 80%;
    align-self: center;
  }
}

@media screen and (max-width: 400px) { /*site changes at 400px*/
  .about{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  audio{
    width: 200px;
  }
  #proj-header{
    padding-bottom: 3rem;
    -webkit-mask-image:-webkit-gradient(linear, left top, left 75%, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  }
}
