/* Sidebar */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 15rem; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #16284C;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 2rem;
}

.sidenav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidenav img{
  width: 5.75rem;
  height: auto;
  margin-bottom: 0.5rem;
}

/* The navigation menu links */
.sidenav a {
  position: relative;
  margin: 0rem 1rem 1.5rem 1rem;
  text-decoration: none;
  text-align: center;
  font-size: 1.25rem;
  color: #D6C780;
  display: block;
}

.sidenav .text-link{
  margin: 0rem 3rem .25rem 3rem;
}

/* Underline Animation
Tutorial from: https://tobiasahlin.com/blog/css-trick-animating-link-underlines/*/
.text-link a:hover{
    color: #D6C780;
}

.text-link a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 0.125rem;
    bottom: 0;
    left: 0;
    background-color: #D6C780;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.text-link a:hover::before {
  visibility: visible;
  transform: scaleX(0.6);
}

a:visited{
    text-decoration: none;
}

/* Style page content */
#main {
  margin-left: 15rem; /* Same as the width of the sidebar */
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidenav img{
    width: 5rem;
    height: auto;
    margin-bottom: 0;
    margin-left: 1rem;
  }
  .sidenav a {
    float: left;
    margin: 0rem 1rem 1rem 1rem;
  }
  .text-link a{
    margin-top: 5rem;
  }
  #main{
    margin-left: 0;
  }
  .text-link a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidenav a {
    text-align: center;
    float: none;
  }
  .sidenav img{
    margin-left: 0;
  }
  .text-link a{
    margin-top: 0;
  }
  .text-link a:hover::before {
    visibility: visible;
    transform: scaleX(0.35);
  }
}
